In [3]:
import sqlite3 as sql

In [4]:
db = sql.connect("python_sqllite.db")

In [5]:
db_courser = db.cursor()

In [12]:
cmd = 'create table users(id int,name varchar(25),city varchar(25));'

In [8]:
db.execute(cmd)

OperationalError: table users already exists

In [ ]:
db.commit()

In [ ]:
data = {
    "id" : 1,
    "Name" : "Priyanka",
    "city" : "Ahmedabad"
}

In [ ]:
cmd = f'insert into users {tuple(data.keys())} values{tuple(data.values())};'

In [ ]:
db.execute(cmd)

In [ ]:
db.commit()

In [ ]:
data = [
    {
        "id" : 2,
        "Name" : "Aarvee",
        "city" : "Surat"
    },
    {
        "id" : 3,
        "Name" : "Rajvee",
        "city" : "Mumbai"
    },
    {
        "id" : 4,
        "Name" : "Neha",
        "city" : "Surat"
    }
]

In [10]:
for d in data:
    cmd = f'insert into users{tuple(d.keys())} values{tuple(d.values())};'
    print(d)

NameError: name 'data' is not defined

In [5]:
data = [
    {
        "Name":"Piya",
        "city":"baroda"
    },
    {
        "Name":"jinal",
        "city":"bombay"
    },
    {
        "Name":"kushal",
        "city":"Ahmedabad"
    }
]

In [23]:
db_courser.execute('select * from users;')
last_id = db_courser.fetchall()[-1][0]
new_id = last_id+1
for d in data:
    d["id"] = new_id
    cmd = f'insert into users{tuple(d.keys())} values{tuple(d.values())};'
    db_courser.execute(cmd)
    db.commit()
    print(cmd)
    new_id+=1

insert into users('Name', 'city', 'id') values('Piya', 'baroda', 7);
insert into users('Name', 'city', 'id') values('jinal', 'bombay', 8);
insert into users('Name', 'city', 'id') values('kushal', 'Ahmedabad', 9);

In [11]:
cmd = 'update users set city = "Mumbai" where id=5'
db_courser.execute(cmd)
db.commit()

In [53]:
# create table function(table_name,fildes)
import sqlite3 as sql
def create_table(tableName,**columns):
    db = sql.connect("create.db")
    db_courser = db.cursor()
    fields_Name = ','.join(columns)
    cmd = f'create table {tableName}()'
    db.commit()

In [55]:
create_table('Emplyee',"id int","name varchar(25)")

TypeError: create_table() takes 2 positional arguments but 3 were given

In [6]:
# insert_record(tbl_name, **fields)

def insert_record(tbl_Name,**filds):
   # db = sql.connect("pythonsqlite.db")
    db_courser = db.cursor()
    cmd = f'insert into {tbl_Name}{tuple(filds.keys())} values {tuple(filds.values())}'
    db_courser.execute(cmd)
    db.commit()

In [7]:
insert_record('users',id= 6,Name='priyanka',city='Ahmedabad')

In [12]:
#import mysql

import pymysql as sql

In [13]:
db = sql.connect(host='localhost',user='root',password='admin',port=3306)

In [3]:
data = [
    {
        "id" : 2,
        "Name" : "Aarvee",
        "city" : "Surat"
    },
    {
        "id" : 3,
        "Name" : "Rajvee",
        "city" : "Mumbai"
    },
    {
        "id" : 4,
        "Name" : "Neha",
        "city" : "Surat"
    }
]

In [4]:
for d in data:
    cols = tuple(d.keys())
    values = tuple(d.values())
    query = f'''insert into tbl_name{cols}values{values}'''
    print(query)

insert into tbl_name('id', 'Name', 'city')values(2, 'Aarvee', 'Surat')
insert into tbl_name('id', 'Name', 'city')values(3, 'Rajvee', 'Mumbai')
insert into tbl_name('id', 'Name', 'city')values(4, 'Neha', 'Surat')

In [14]:
db_courser = db.cursor()

In [6]:
db_courser.execute('show databases;')

7

In [12]:
db_courser.fetchall()

(('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('sys',),
 ('world',))

In [15]:
db_courser.execute("use testdb;")

0

In [16]:
db_courser.execute("show databases;")

7

In [17]:
db_courser.fetchall()

(('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('sys',),
 ('testdb',),
 ('world',))

In [18]:
db_courser.execute('create table users(id int,Name varchar(25),city varchar(25));')

0

In [20]:
db_courser.execute("insert into users (id,Name,city) values(1,'Priyanka','Surat');")

1

In [ ]:
db.commit()